/* (Google Fonts, 2026) */
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div{
    margin: 50px;
    padding: 50px;
    border: 5px solid rgb(198, 70, 70);
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

a:hover{
    color: red;
}

.body{
    overflow: scroll;
}

.main_img{
    opacity: 0.5
}

.report1{
    border: 5px dotted rgb(103, 103, 188);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 25px;
    padding-top: 10px;
}

h2{
    /* (Google Fonts, 2026) */
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    text-decoration: underline;
    word-spacing: 10px;
    font-weight: bold;
}

a:link{
    color: #c41f1f
}

a:visited{
    color: #e0198a
}

a:hover{
    color:#bc10e2
}

.multi{
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid gray;
}

ol.contact-list li:hover{
    background-color: #e6ee0f;
}

ol.contact-list li:first-child{
    font-weight: bold;
}

ol.contact-list li:nth-child(2){
    color: #e8930a
}



